src/main/resources/WSDL/LoanService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/LoanService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoanService" targetNamespace="http://www.example.org/LoanService/" xmlns:xsd1="http://www.example.org/LoanRequest" xmlns:xsd2="http://www.example.org/LoanResponse">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/LoanService/">
      <xsd:element name="testEligibility">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="testEligibilityResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/LoanRequest"
    		schemaLocation="../LoanRequest.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.example.org/LoanResponse"
    		schemaLocation="../LoanResponse.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="testEligibilityRequest">
    <wsdl:part element="xsd1:LoanRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="testEligibilityResponse">
    <wsdl:part element="xsd2:LoanResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="LoanEligibilityService">
    <wsdl:operation name="testEligibility">
      <wsdl:input message="tns:testEligibilityRequest"/>
      <wsdl:output message="tns:testEligibilityResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoanServiceSOAP" type="tns:LoanEligibilityService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="testEligibility">
      <soap:operation soapAction="http://www.example.org/LoanService/testEligibility"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoanEligibilityService">
    <wsdl:port binding="tns:LoanServiceSOAP" name="LoanServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
